.navbar {
    background-color: #333; 
    padding: 5px; 
    position: relative; 
}
.navbar-toggle {
    display: none; 
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.navbar-list {
    list-style-type: none; 
    display: flex; 
    justify-content: space-around; 
    margin: 0; 
    padding: 0; 
}

.navbar-list li {
    color: white; 
}

.navbar-list a {
    color: white; 
    text-decoration: none;     
}

.navbar-list a:hover {
    opacity: 0.7; 
}

.navbar-list .svg-inline--fa {
    margin-right: 5px; 
    font-size: 20px;
     
}


@media (max-width: 768px) {
    .navbar-list {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 50px; 
        left: 0;
        width: 100%; 
        background-color: #333; 
    }

    .navbar-list.open {
        display: flex; 
    }

    .navbar-toggle {
        display: block; 
    }
}