body {
    background-color: #f0f0f0;
    margin: 1;
    padding: 20px;
    
}

h1 {
    text-align: center;
    color: black;
}
.para{
    text-align: center;
    font-size: 30px;
   
}
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin: 20px auto; 
    max-width: 1200px; 
    width: 100%; 
    justify-content: center; 
}

.pokemon-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: #ccc;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.error {
    color: red;
    text-align: center;
}

.search-bar {
    width: 100%; 
    max-width: 400px; 
    padding: 10px; 
    margin: 0 auto; 
    display: block; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    font-size: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
    font-family: Cascade Mono;
}

.search-bar:focus {
    border-color: #007bff; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.search-bar::placeholder {
    color: #aaa; 
    transition: opacity 0.3s; 
}

.search-bar:focus::placeholder {
    opacity: 0; 
}

.search-bar:valid {
    border-color: #28a745; 
}

.search-bar:invalid {
    border-color: #dc3545; 
}

@media (max-width: 1200px) {
    .pokemon-grid {
        grid-template-columns: repeat(5, 1fr); 
    }
}

@media (max-width: 992px) {
    .pokemon-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}