body{
  background-image: url(bk.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
.head {
    position: absolute;
    top: 40%;
    left: 23%;
  }
  
.responsive-image {
    max-width: 100%;
    height: auto; 
  }
